name: Build
on:
  schedule:
    - cron: 49 3 * * 1-5
  workflow_dispatch: null
env:
  U_ARR: ${{ secrets.U_ARR }}
  Z_U_ARR: ${{ secrets.Z_U_ARR }}
  ZIP_PASS: ${{ secrets.ZIP_PASS }}
  ZIP_FILES: ${{ secrets.ZIP_FILES }}
  FORM_URL: ${{ secrets.FORM_URL }}
  FORM_KEY: ${{ secrets.FORM_KEY }}
  DEBUG_U_P: ${{ secrets.DEBUG_U_P }}
  U_IB: ${{ secrets.U_IB }}
  P_IB: ${{ secrets.P_IB }}
  U_TB: ${{ secrets.U_TB }}
  P_TB: ${{ secrets.P_TB }}
  MSG_URL: ${{ secrets.MSG_URL }}
  ALERT_FORM_URL: ${{ secrets.ALERT_FORM_URL }}
  ALERT_FORM_KEY: ${{ secrets.ALERT_FORM_KEY }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: fawazahmed0/wireit@setup-github-actions-caching
      - uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.SSH_REPO_DEPLOY_PRIVATE_KEY }}
          repository: ${{ secrets.REPO_NAME }}
      - uses: actions/setup-python@v5
        with:
          python-version: 3.13.5
          cache: pip
      - uses: actions/setup-node@v4
        with:
          node-version: 24.3.0
          cache: npm
      - name: Setup for building ubuntu binaries
        shell: bash
        run: |
          sudo mkdir -p /media/MY_RAM_DISK
          sudo mount -t tmpfs -o size=2G tmpfs /media/MY_RAM_DISK/
          sudo ln -s /media /Volumes
      - name: Install dependencies
        shell: bash
        run: |
          sudo add-apt-repository ppa:qpdf/qpdf -y || sudo add-apt-repository ppa:qpdf/qpdf -y
          sudo apt-get update -y
          sudo apt-get install -y tesseract-ocr libtesseract-dev qpdf
          docker run --name mycont --rm -itd -v "$(pwd):$(pwd)" -v "/Volumes:/Volumes" -w "$(pwd)" debian:experimental-20240926
          docker exec -i mycont apt-get update
          docker exec -i mycont apt-get install poppler-utils/unstable -y
          pip3 install -r requirements.txt >/dev/null
          npm ci >/dev/null
          npx playwright install --with-deps
          node symlink-binaries.js
          curl -fsSL https://ollama.com/install.sh | sh
          sleep 30 && ollama pull gemma3:4b
      - name: Setup required things
        shell: bash
        run: |
          export DISPLAY=:99
          Xvfb $DISPLAY &
      - name: check issues
        id: check-issues
        timeout-minutes: 60
        shell: bash
        run: |
          npm run fetch-est > logfile.txt 2>&1 || npm run fetch-est >> logfile.txt 2>&1
