name: mytemptest
on:
  workflow_dispatch: null
env:
  U_ARR: ${{ secrets.U_ARR }}
  Z_U_ARR: ${{ secrets.Z_U_ARR }}
  ZIP_PASS: ${{ secrets.ZIP_PASS }}
  ZIP_FILES: ${{ secrets.ZIP_FILES }}
  FORM_URL: ${{ secrets.FORM_URL }}
  FORM_KEY: ${{ secrets.FORM_KEY }}
  DEBUG_U_P: ${{ secrets.DEBUG_U_P }}
  U_IB: ${{ secrets.U_IB }}
  P_IB: ${{ secrets.P_IB }}
  U_TB: ${{ secrets.U_TB }}
  P_TB: ${{ secrets.P_TB }}
  MSG_URL: ${{ secrets.MSG_URL }}
  ALERT_FORM_URL: ${{ secrets.ALERT_FORM_URL }}
  ALERT_FORM_KEY: ${{ secrets.ALERT_FORM_KEY }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  sumo:
    runs-on: ubuntu-24.04
    steps:
      - uses: fawazahmed0/maximize-build-space@master
        with:
          root-reserve-mb: 20480
          swap-size-mb: 4096
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          remove-docker-images: 'true'
      - name: setup env
        shell: bash
        run: |
          echo "actionstarttime=`date +%s`" >> $GITHUB_ENV
      - uses: fawazahmed0/wireit@setup-github-actions-caching
      - uses: actions/checkout@v6
        with:
          ssh-key: ${{ secrets.SSH_REPO_DEPLOY_PRIVATE_KEY }}
          repository: ${{ secrets.REPO_NAME }}
      - uses: actions/setup-python@v6
        with:
          python-version: 3.13.11
          cache: pip
      - uses: actions/setup-node@v6
        with:
          node-version: 25.2.1
          cache: npm
      - name: Setup for building ubuntu binaries
        shell: bash
        run: |
          sudo mkdir -p /media/MY_RAM_DISK
          sudo mount -t tmpfs -o size=512M tmpfs /media/MY_RAM_DISK/
          sudo ln -s /media /Volumes
      - name: Install dependencies
        shell: bash
        run: |
          curl -f -L -o /usr/local/bin/qpdf https://github.com/qpdf/qpdf/releases/download/v12.3.0/qpdf-12.3.0-x86_64.AppImage && chmod +x /usr/local/bin/qpdf
          sudo apt-get update -y
          wget https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-linux-`dpkg --print-architecture`.deb
          sudo apt install -y ./cloudflared-linux-`dpkg --print-architecture`.deb
          rm ./cloudflared-linux-`dpkg --print-architecture`.deb
          sudo apt-get install -y tesseract-ocr libtesseract-dev
          docker run --name mycont --rm -itd -v "$(pwd):$(pwd)" -v "/Volumes:/Volumes" -w "$(pwd)" debian:experimental-20240926
          docker exec -i mycont apt-get update
          docker exec -i mycont apt-get install poppler-utils/unstable -y
          pip3 install -r requirements.txt >/dev/null
          npm ci >/dev/null
          npx playwright install --with-deps
